extends layout

block content
  .col-md-6.center.float-none
    h1 Add Employee    
    form(method='POST', action='/users/add')
      .form-group
        label Name:
        input.form-control(name='name', type='text')
      .form-group
        label Email:
        input.form-control(name='email', type='text')
      .form-group
        label Password:
        input.form-control(name='password', type='password')
      .form-group
        label Confirm Password:
        input.form-control(name='password2', type='password')
      .form-group
        label Username:
        input.form-control(name='username', type='text')
      .form-group
        label Role:
        br
        .form-check
          input.form-check-input(type='radio', name='role', value='admin')
          label.form-check-label(for='exampleRadios1')
            | Admin
        .form-check
          input.form-check-input(type='radio', name='role', value='seniorManagement')
          label.form-check-label(for='exampleRadios1')
            | Senior Management
        .form-check
          input.form-check-input(type='radio', name='role', value='management')
          label.form-check-label(for='exampleRadios1')
            | Management
        .form-check
          input.form-check-input(type='radio', name='role', value='Employee')
          label.form-check-label(for='exampleRadios1')
            | Employee
      .form-group
        label Team
        br
        .form-check
          input.form-check-input(type='radio', name='team', value='finance')
          label.form-check-label(for='exampleRadios1')
            | Finance
        .form-check
          input.form-check-input(type='radio', name='team', value='markeing')
          label.form-check-label(for='exampleRadios1')
            | Markeing
        .form-check
          input.form-check-input(type='radio', name='team', value='testing')
          label.form-check-label(for='exampleRadios1')
            | Testing
        .form-check
          input.form-check-input(type='radio', name='team', value='engineering')
          label.form-check-label(for='exampleRadios1')
            | Engineering
        .form-check
          input.form-check-input(type='radio', name='team', value='sales')
          label.form-check-label(for='exampleRadios1')
            | Sales
        .form-check
          input.form-check-input(type='radio', name='team', value='hr')
          label.form-check-label(for='exampleRadios1')
            | HR
        .form-check
          input.form-check-input(type='radio', name='team', value='it')
          label.form-check-label(for='exampleRadios1')
            | I.T.
        .form-check
          input.form-check-input(type='radio', name='team', value='support')
          label.form-check-label(for='exampleRadios1')
            | Support
      .form-group
        label Job Title:
        input.form-control(name='title', type='text')
      .form-group
        br
        input.btn.btn-primary.btn-login(type='submit', value='Submit')

//- //- block variables
//-   - var totalQuestions = 10

//- block content
//-     form(action = "/create", method = "POST").form
//-          .content
//-          div.span4#headerText
//-             h3 Enter the details...
            
//-             div#userdetails
//-                 div.form-group
//-                     label.control-label Your Name:
//-                     input(type="text", name="username", placeholder="John Doe" id="username", required).form-control.input-lg
//-                     p Fill in the questions below and submit the form to get the shareable link.
//-             - var totalQuestions = 10
//-             - for (var question = 1; question <= questions; question++) {
//-             - var randomOption = Math.floor(Math.random() * (4 - 1) + 1);
//-              div.span#questions
//-                 h4.bold= "Question #" + question
//-                 - var name = "question" + question
//-                 input(type="text", name=name, placeholder="Question " + question, required).form-control.input-lg
//-                 br 

//-                 - var options = 4
//-                 - for (var option = 1; option <= options; option++) {
//-                  div.form-group
//-                      - var optionName = name + "option" + option
//-                      - var selectedOption = "question" + question + "selected"

//-                       div.radio
//-                           label#q1op1label.radio-inline.control-label
//-                               input(type="radio", name=selectedOption, value=option, required)
//-                               input(type="text", name=optionName, placeholder="Question " + question + " option " + option, id=optionName, required).form-control.expandinginput
//-                 - }
//-             - }

//-          input(type="hidden", name="questions", value=questions)
//-          div.span4#Submitbutton
//-             button(type = "submit")#sbmitBtn.btn.btn-success Generate Form!
//-          br 
//-          em By submitting you confirm that you have read and agree to 
//-             a(href="/policy") the terms and policies of privacy
//-             span.
//-                 . Do not share passwords, credit card information or other sensitive information through these forms.