extends layout

block content
  .col-md-12.center.float-none
    h1 Submit Self Review (dynamicly)
    form(method='POST', action='/dynamics/add')
      each dynamic in dynamics
        .form-group.self-review
          .row.col-md-1.form-label-col(data-toggle="tooltip" title=dynamic.description)
              label.form-title= dynamic.title
              br
          .row.col-md-11(style="padding-left:35px;")
            .form-info-col(style="font-size: 15px; padding-left: 65px;")
              .form-check.self-review-check.self-review-check-first(style="padding-left: 15px; padding-right: 15px;")
                input.form-check-input(type='radio', name='teamwork', value=dynamic.answer1)
                label.form-check-label.label-form(for='exampleRadios1' style="padding-left: 15px; padding-right: 0; font-weight: lighter;") 
                | #{dynamic.answer1}
              .form-check.self-review-check(style="padding-left: 15px; padding-right: 15px;")
                input.form-check-input(type='radio', name='teamwork', value=dynamic.answer2)
                label.form-check-label.label-form(for='exampleRadios1' style="padding-left: 15px; padding-right: 0; font-weight: lighter;") 
                | #{dynamic.answer2}
              .form-check.self-review-check(style="padding-left: 15px; padding-right: 15px;")
                input.form-check-input(type='radio', name='teamwork', value=dynamic.answer3)
                label.form-check-label.label-form(for='exampleRadios1' style="padding-left: 15px; padding-right: 0; font-weight: lighter;") 
                | #{dynamic.answer3}
              .form-check.self-review-check(style="padding-left: 15px; padding-right: 15px;")
                input.form-check-input(type='radio', name='teamwork', value=dynamic.answer4)
                label.form-check-label.label-form(for='exampleRadios1' style="padding-left: 15px; padding-right: 0; font-weight: lighter;") 
                | #{dynamic.answer4}
              .form-check.self-review-check(style="padding-left: 15px; padding-right: 15px;")
                input.form-check-input(type='radio', name='teamwork', value=dynamic.answer5)
                label.form-check-label.label-form(for='exampleRadios1' style="padding-left: 15px; padding-right: 0; font-weight: lighter;") 
                | #{dynamic.answer5}
      
      br 
      br 
      br
      .form-group
        .form-inline
          .form-check
            input#radio120.form-check-input(name='group20', type='radio', checked='checked')
            label.form-check-label(for='radio120') Option 1
          .form-check
            input#radio121.form-check-input(name='group20', type='radio')
            label.form-check-label(for='radio121') Option 2
          .form-check
            input#radio122.form-check-input(name='group20', type='radio')
            label.form-check-label(for='radio122') Option 3
        .form-inline
          .form-check
            input#radio120.form-check-input(name='group20', type='radio', checked='checked')
            label.form-check-label(for='radio120') Option 1
          .form-check
            input#radio121.form-check-input(name='group20', type='radio')
            label.form-check-label(for='radio121') Option 2
          .form-check
            input#radio122.form-check-input(name='group20', type='radio')
            label.form-check-label(for='radio122') Option 3


  script.
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
