extends layout

block content
  .col-md-8.center.float-none
    h2 Review from your Manager #{perReviews.author}
    br
    h3 Review date: #{moment(perReviews.date).format("h:mm:ss a, MMMM Do YYYY ")}
    .row
      .col-md-4
        h4 Teamwork:
        h4 Results: 
        h4 Comunication: 
        h4 Passion: 
        h4 Development:
        h4 Overall Result: 
        h4 Comments: 
      .col-md-8
        h4= perReviews.teamwork
        h4= perReviews.results
        h4= perReviews.communication
        h4= perReviews.passion
        h4= perReviews.development
        h4= perReviews.overallResult
        h4= perReviews.comments
    
    hr 
    //- a.btn.btn-default(href='/articles/edit/'+article._id) Edit
    //- a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete