extends layout

block content
  .container
    .col-md-8.center.float-none
      h2 Profile
      table.table.table-bordered
        thead.thead-light
          tr
            th(scope="col") Name
            th(scope="col") Email
            th(scope="col") Username
            th(scope="col") Role
            th(scope="col") Team
            th(scope="col") Title
        tbody
          tr
            td= user.name
            td= user.name
            td= user.username
            td= user.role
            td= user.team
            td= user.title
      a.btn.btn-default(style="width:20%;" href='/users/edit/'+user._id) Edit
      a.btn.btn-danger.delete-user.pull-right(style="width:20%;" href='#', data-id=user._id) Delete