extends layout

block pageBody
  .col-xs-6.float-none.center
    H2 Edit Profile
    form(method='POST', action='/users/edit/'+users._id)
      .form-group
        label Name:
        input.form-control(name='name', type='text', value=users.name)
      .form-group
        label Email:
        input.form-control(name='email', type='text', value=users.email)
      .form-group
        label Gender
        br
        .form-check
          input.form-check-input(type='radio', name='gender', value='Female'  checked=users.gender==='Female')
          label.form-check-label(for='exampleRadios1')
            | Female
        .form-check
          input.form-check-input(type='radio', name='gender', value='Male' checked=users.gender==='Male')
          label.form-check-label(for='exampleRadios1')
            | Male
        .form-check
          input.form-check-input(type='radio', name='gender', value='Transgender' checked=users.gender==='Transgender')
          label.form-check-label(for='exampleRadios1')
            | Transgender
        .form-check
          input.form-check-input(type='radio', name='gender', value='Other' checked=users.gender==='Other')
          label.form-check-label(for='exampleRadios1')
            | Other
      br
      a.btn.btn-danger(style="margin-left:15px; width:20%;" href='/users/'+user._id) Cancel
      input.btn.btn-primary.pull-right(type='submit', value='Submit' style="margin-right:15px; width:20%;")
