extends layout

block pageBody
	.col-md-8.center.float-none
		.container
			.col-md-3
				h3 Date of Engagement
				br
				h4 Question 1
				h4 Question 2
				h4 Question 3
				h4 Question 4
				h4 Question 5
				h4 Question 6
			.col-md-5
				h3= moment(engagements.date).format("h:mm:ss a, MMMM Do YYYY ")
				br
				h4= engagements.q1
				h4= engagements.q2
				h4= engagements.q3
				h4= engagements.q4
				h4= engagements.q5
				h4= engagements.q6