extends layout

block pageBody
	if user
		.container.padding-top-sm
			if (user.role == "Management")
				.col-xs-6
					h3 Reviews
					br 
					br
					h4 My Employees
						ul.list-group
							each user, i in users 
								li.list-group-item.list-reviews
									a(href='/users/profile/'+user.username)= user.name
				.col-xs-6.padding-top-xl
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/perReviews/add_employee_review') Submit Review for Employee
					br
					br
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/perReviews/add_self_review') Submit Self Review
					br
					br
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/engagements/submit_engagement_survey') Submit Employee Enagagement Survay
			else if (user.role == "Employee")
				.col-md-6.center.float-none 
					h3 Employee Review Dashboard
					br 
					br 
					h4 My Self Reviews New
					ul.list-group
						each perReview, i in perReviewss
							li.list-group-item.list-reviews
								a(href='/perReviews/'+perReview._id)= moment(perReview.date).format("h:mm:ss, MMMM Do YYYY ") 
					br
					br
					h4 My Reviews From Lead
						ul.list-group
							each perReview, i in perReviews
								li.list-group-item.list-reviews
									a(href='/perReviews/'+perReview._id)= moment(perReview.date).format("h:mm:ss a, MMMM Do YYYY ")
					br
					br
					h4 Last Submitted Engagement Survay
						ul.list-group.engagement-view
							each engagement, i in engagements
								li.list-group-item.list-reviews
									p= moment(engagement.date).format("h:mm:ss a, MMMM Do YYYY ")
					br
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/perReviews/add_self_review') Submit Self Review  
					//- a(class='button btn btn-default btn-success', style="width: 100%;" href='/articles/add') Submit Self Review
			else if (user.role == "Administrator")
				.col-md-6.float-none.center
					h3.margin-top-none List of Employees
					table.table.table-bordered.table-hover
						thead
							tr
							th Name
							th Team
							th Role
							th 
						each user in users
							tbody
								tr
								td #{user.name}
								td #{user.team}
								td #{user.role}
								td 
									a(href='/users/view/'+user.username)
										|  View Profile
					br
					br
					a(class='button btn btn-primary', style="width: 100%; " href='/users/add') Add a new Employee
			else if (user.role == "Senior Management") 
				br
				br
				h4 Team Managers
					ul.list-group
						each user, i in users 
							li.list-group-item.list-reviews
								a(href='/users/profile/'+user.username)= user.name
					//- include 
					//- h4 Senior Managers
					//-     ul.list-group
					//-         each use, i  in users
					//-             li.list-group-item.list-reviews
					//-                 a(href='/users/profile/'+use.username)= use.name
					//- include ./list-senior-managers.pug

					//- br
					//- br
					//- h4 Senior Managers
					//-     ul.list-group
					//-         each users, i  in seniors
					//-             li.list-group-item.list-reviews
					//-                 a(href='/users/profile/'+users.username)= users.name
					br
					br
					a(class='button btn btn-default1 ', style="width: 100%;" href='/perReviews/add_manager_review') Submit Review for Manager
					br
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/perReviews/add_Senior_manager_review') Submit Review for Senior Manager
					br
					br
					a(class='button btn btn-default1', style="width: 100%;" href='/perReviews/add_self_review') New Submit Self Review
			//- else 
			//- 	p Uh Oh! You are not supposed to be here.
			//- 	a(class='button btn btn-default', style="width: 30%; margin-left: 35%;" href='/home') Home
	//- else 
	//- 	p Uh Oh! You are not supposed to be here.
	//- 	a(class='button btn btn-default', style="width: 30%; margin-left: 35%;" href='/home') Home
	script.
		$.get('https://performify.herokuapp.com/chartsEndpoints/listUsers2', {}, function(data){
			var g = data;
			let Finance = 0;
			let Marketing = 0;
			let Testing = 0;
			let Engineering = 0;
			let Sales = 0;
			let HR = 0;
			let IT = 0;
			let Support = 0;
			//- Finance Marketing Testing Engineering Sales HR IT Support
			for (var i = 0; i < g.length; i++) {
				if (g[i].team === 'Finance') {
					Finance += 1;
				}
				else if (g[i].team === 'Marketing') {
					Marketing += 1;
				}
				else if (g[i].team === 'Testing') {
					Testing += 1;
				}
				else if (g[i].team === 'Engineering') {
					Engineering += 1;
				}
				else if (g[i].team === 'Sales') {
					Sales += 1;
				}
				else if (g[i].team === 'HR') {
					HR += 1;
				}
				else if (g[i].team === 'IT') {
					IT += 1;
				}
				else {
					Support+= 1;
				}
			}
			let teamLabels = ['Finance', 'Marketing', 'Testing', 'Engineering', 'Sales', 'HR', 'IT', 'Support'];
			var ctx = document.getElementById("NumberPeopleOnTeams").getContext('2d');
			var NumberPeopleOnTeams = new Chart(ctx, {
				type: 'doughnut',
				data: {
						labels: teamLabels,
						datasets: [{
								label: '# of Votes',
								data:[Finance, Marketing, Testing, Engineering, Sales, HR, IT, Support],
								backgroundColor: [
										'rgba(255, 99, 132)',
										'rgba(75, 192, 192, 0.5)',
										'rgba(153, 102, 255, 0.5)',
										'rgba(255, 159, 64, 0.5)',
										'rgba(229, 158, 175, 0.5)',
										'rgba(65,79,111)',
										'rgba(153,153,204)',
										'rgba(254,255,163, 0.85)'
								],
								borderColor: [
										'rgba(255,99,132,1)',
										//- 'rgba(54, 162, 235, 1)',
										'rgba(255, 206, 86, 1)',
										'rgba(75, 192, 192, 1)',
										'rgba(153, 102, 255, 1)',
										'rgba(255, 159, 64, 1)'
								],
								borderWidth: 0
						}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						position: "top",
						text: "Team Breakdown & Number of Teams: " + teamLabels.length,				
						fontSize: 20,
						fontColor: "#111"
					},
					legend: {
						display: true,
						position: "bottom",
						labels: {
							fontColor: "#333",
							fontSize: 16
						}
					}
				}
			});
		});