extends layout

block pageBody
	if user
		.container
			.col-md-6.center.float-none
				if (user.role == "Management")
					h3 Manager Review Dashboard
					br 
					br
					h4 My Employees
						ul.list-group
							each user, i in users 
								li.list-group-item.list-reviews
									a(href='/users/profile/'+user.username)= user.name
					br
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_employee_review') Submit Review for Employee
					br
					br 
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_self_review') New Submit Self Review
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/engagements/submit_engagement_survey') Submit Employee Enagagement Survay
				else if (user.role == "Employee") 
					h3 Employee Review Dashboard
					br 
					br 
					h4 My Self Reviews New
					ul.list-group
						each perReview, i in perReviewss
							//- if (perReview.type="Self Review")
							li.list-group-item.list-reviews
								a(href='/perReviews/'+perReview._id)= moment(perReview.date).format("h:mm:ss, MMMM Do YYYY ") 
					br
					br
					h4 My Reviews From Lead
						ul.list-group
							each perReview, i in perReviews
								li.list-group-item.list-reviews
									a(href='/perReviews/'+perReview._id)= moment(perReview.date).format("h:mm:ss a, MMMM Do YYYY ")
					br
					br
					h4 Last Submitted Engagement Survay
						ul.list-group.engagement-view
							each engagement, i in engagements
								li.list-group-item.list-reviews
									p= moment(engagement.date).format("h:mm:ss a, MMMM Do YYYY ")
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_self_review') Submit Self Review  
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/engagements/submit_engagement_survey') Submit Employee Enagagement Survay
					//- a(class='button btn btn-default btn-success', style="width: 100%;" href='/articles/add') Submit Self Review
				else if (user.role == "Administrator") 
					.col-12.center.float-none
						h3 List of Employees
						table.table.table-bordered.table-hover
							thead
								tr
								th Name
								th Team
								th Role
								th 
							each user in users
								tbody
									tr
									td #{user.name}
									td #{user.team}
									td #{user.role}
									td 
										a(href='/users/view/'+user.username)
											|  View Profile
					br
					br
					.col-12.center.float-none
						a(class='button btn btn-primary', style="width: 100%; " href='/users/add') Add a new Employee
				else if (user.role == "Senior Management") 
					br
					br
					h4 Team Managers
						ul.list-group
							each user, i in users 
								li.list-group-item.list-reviews
									a(href='/users/profile/'+user.username)= user.name
					//- include 
					//- h4 Senior Managers
					//-     ul.list-group
					//-         each use, i  in users
					//-             li.list-group-item.list-reviews
					//-                 a(href='/users/profile/'+use.username)= use.name
					//- include ./list-senior-managers.pug

					//- br
					//- br
					//- h4 Senior Managers
					//-     ul.list-group
					//-         each users, i  in seniors
					//-             li.list-group-item.list-reviews
					//-                 a(href='/users/profile/'+users.username)= users.name
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_manager_review') Submit Review for Manager
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_Senior_manager_review') Submit Review for Senior Manager
					br
					br
					a(class='button btn btn-default btn-success', style="width: 100%;" href='/perReviews/add_self_review') New Submit Self Review
				else 
					p Uh Oh! You are not supposed to be here.
					a(class='button btn btn-default', style="width: 30%; margin-left: 35%;" href='/home') Home
	else 
		p Uh Oh! You are not supposed to be here.
		a(class='button btn btn-default', style="width: 30%; margin-left: 35%;" href='/home') Home