extends layout

block pageBody
  .col-md-6.center.float-none
    if (user.role == "Employee")
        if (perReviews.type == "Performance Review")
            h2 Review from your Manager #{perReviews.author}
            h2 For #{perReviews.userSelected}
        else
            h2 #{perReviews.userSelected}'s Self Review
    else if (user.role == "Management")
        if (perReviews.type == "Performance Review")
            h2 Review from #{perReviews.author}
            h2 For #{perReviews.userSelected}
        else
            h2 #{perReviews.userSelected}'s Self Review
    else if (user.role == "Senior Management")
        if (perReviews.type == "Performance Review")
           h2 Review from #{perReviews.author}
           h2 For #{perReviews.userSelected}
        else
            h2 #{perReviews.userSelected}'s Self Review
    else
        h2 Review for #{perReviews.userSelected}
    br
    h3 Review date: #{moment(perReviews.date).format("h:mm:ss a, MMMM Do YYYY ")}
    .row
      .col-md-4
        h4 Teamwork:
        h4 Results: 
        h4 Comunication: 
        h4 Passion: 
        h4 Development:
        h4 Overall Result: 
        h4 Comments: 
      .col-md-8
        h4= perReviews.teamwork
        h4= perReviews.results
        h4= perReviews.communication
        h4= perReviews.passion
        h4= perReviews.development
        h4= perReviews.overallResult
        h4= perReviews.comments
    
    //- a.btn.btn-default(href='/articles/edit/'+article._id) Edit
    //- a.btn.btn-danger.delete-review(href='#', data-id=perReviews._id) Delete